body {
    background-image: url("TPP_Banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    margin: 0;
    background-color: #edede9;
}

#centralArea{
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    flex-direction: column;
}

.boxes{
    display: flex;
    border: 2px solid blue;
}